<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        background-image: url({{ url_for('video_feed') }});
        background-repeat: no-repeat;
        background-size: cover;
      }
      .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }
      body {
        margin: 0;
        font-family: Arial;
        font-size: 17px;
      }
    </style>
    <title>
        Nalaiya Thiran
    </title>
  </head>
  <body>
    <div class="content">
      <h1>Conversation Engine for Deaf and Dumb</h1>
      <p>A Real-Time Communication System Powered By AI For Specially Abled</p>
    </div>
  </body>
</html>